/* Start Variables */
:root {
    --main-background: grey;
    --secondary-background: lightgrey;
    --main-color: white;
    --secondary-color: red;
    --padding: 20px;
}
/* End Variables */

* {
    box-sizing: border-box;
}

body {
    padding: var(--padding);
    font-family: Arial, Helvetica, sans-serif
}

.header {
    background-color: var(--main-background);
    text-align: center;
    color: var(--main-color);
    padding: var(--padding);
}

.leftcolumn {
    float: left;
    width: 25%;
    padding-bottom: 150px;
    background-color: var( --secondary-background);
}

.rightcolumn {
    float: right;
    width: 75%;
    padding-left: var(--padding);
    padding-right: var(--padding);
}

ul {
    padding-left: 10px;
}

ul li {
    list-style-type: none;
    margin-bottom: 5px;
}

ul li a:hover {
    color: var( --secondary-color);
}

.parent::after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    background-color: var(--main-background);
    text-align: center;
    color: var(--main-color);
    padding: 10px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 800px) {
    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
    ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
